html{
    min-width: fit-content;
}

#root{
    /* height: 100%; */
    width: 100%;
}

body{
    margin: 0;
    background-image: url('assets/standard_pattern.png');
}
.site-title{
    font-size: 1.2em;
    min-width: 121px;
    margin-right: 1em;
}

/* app styling */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: .5em 1.5em;
    font-size: 1.2em;
    width: 100%;
}

footer{
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: inline;
    overflow: auto;
}
nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;
}

nav li{
    padding: 0;
}

nav li:hover{
    background-color: #777;
}

nav li:active{
    background-color: #555;
}

.page-content{
    padding: 1em;
    height: inherit;
}

.page-content > div > h1{
    text-align: center;
}

.cart-icon{
    font-size: .7em;
    margin-top: 1em;
}

/* home */

.home {
    height: inherit;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.home-image{
    display: flex;
    justify-content: center; 
    width: 100%;
}

.home-image > img {
    width: 100%;
}

.home-description{
    padding: 1em 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.home-options{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.home-options .btn {
    padding: .5em 1em;
    margin: 0 1em;
}

/* shop */
#shop-products{
    list-style-type: none;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

#shop-products li{
    display: flex;
    justify-content: center;
}


.shop-product{
    border: .1em solid #333;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: .5em;
}

.shop-product > p{
    margin: 0;
}

.shop-product-image > img{
    width: 50%;
}

/* product page */

.product-content{
    height: 130%;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.product > *{
    margin: 0 1em;
}

.product-image{
    min-width: 200px;
    width: 300px;
}
.product-image > img{
    width: 100%;
}

.product-info{
    max-width: 340px;
}

.product-purchase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-purchase > p {
    font-size: 2em;
    margin: 0;
}

.product-extra {
    margin-top: 2em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.product-extra-options {
    display: flex;
    justify-content: center;
}

.product-tracklist th {
    font-size: 1.2em;
}

.quantity-input {
    display: flex;
    align-items: center;
    height: 31px;
}
.quantity-input input[type="number"]{
    width: 2em;
    height: 100%;
}
.quantity-input button {
    height: 100%;
}

/* used when user adds product to cart, popup
underneath cart icon.  */
.shopping-cart-modal {
    position:fixed;
    right: 0;
    width: 250px;
    height: 250px;

    border: .1em solid black;
}

/* shopping-cart page */


#shopping-cart-products{
    padding: 1em 0;
}

.shopping-cart-product{
    display: flex;
    padding: 1em 0;
    flex-direction: flex-start;
    align-items: center;
    font-size: 1.5em;
    border-top: 1px solid #555;
}

.shopping-cart-product-image{
    width: 25%;
    margin: 0 2em;
}
.shopping-cart-product-image > img{
    width: 100%;
}

#shopping-cart-summary {
    padding: 2em 0;
    font-size: 2em;
    text-align: right;
    border: 0.1em solid #777;
    padding: 1em;
}

#shopping-cart-empty {
    display: flex;
    padding: 1em 0;
    align-items: center;
    flex-direction: column;
}

#shopping-cart-checkout-button{
    align-items: center;
    gap: 10px;
    display: flex;
    margin-left: auto;
}

/* daily song page */
#daily-song-wrapper{
    text-align: center;
}

#daily-song-content{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

#daily-song-image{
    flex:  3 0 35%;
}
#daily-song-image img{
    width: 100%;
}

#daily-song-top{
    display: flex;
    justify-content: center;
}
#daily-song-top .change-song-icon{
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#daily-song-top .change-song-icon svg:hover{
    cursor: pointer;
}





@media only screen and (min-width: 1000px) {
    /* home */
    .home-image > img{
        width: 60%;
    }

    .product-image{
        width: 30%;
    }

    #shop-products{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #daily-song-image{
        flex:  2 0 25%;
    }


}